<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magelearn_Customform::Customform" title="Customform" sortOrder="10">
					<resource id="Magelearn_Customform::Customform_save" title="Save Customform" sortOrder="10"/>
					<resource id="Magelearn_Customform::Customform_delete" title="Delete Customform" sortOrder="20"/>
					<resource id="Magelearn_Customform::Customform_update" title="Update Customform" sortOrder="30"/>
					<resource id="Magelearn_Customform::Customform_view" title="View Customform" sortOrder="40"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
