<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Magelearn::top_level" title="Magelearn" module="Magelearn_Customform" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Magelearn_Customform::manage_mlcustomform" title="Manage Customform" module="Magelearn_Customform" sortOrder="9999" resource="Magelearn_Customform::manage_mlcustomform" parent="Magelearn::top_level" action="mladmincustomform/customform"/>
	</menu>
</config>
